name: SSH Test

on:
  workflow_dispatch:

jobs:
  test-ssh:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 54.227.114.152 >> ~/.ssh/known_hosts

      - name: Test SSH Connection
        run: |
          ssh -o StrictHostKeyChecking=no devuser@54.227.114.152 "
            echo '✅ Connected successfully'
            whoami
            hostname
            uptime
      - name: Check if Apache is Installed
        run: |
          ssh -o StrictHostKeyChecking=no devuser@54.227.114.152 "
            echo 'Checking Apache package...'
            
            if dpkg -l | grep -q apache2; then
              echo '✅ Apache is installed'
            else
              echo '❌ Apache is NOT installed'
            fi
            
          "
